<a href="https://colab.research.google.com/github/rroszczyk/Python/blob/master/sql/db_simple_orm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install ORM-SQLite
import orm_sqlite

Collecting ORM-SQLite
  Downloading ORM_SQLite-0.0.2-py3-none-any.whl (8.3 kB)
Installing collected packages: ORM-SQLite
Successfully installed ORM-SQLite-0.0.2

In [2]:
class Pomodoro(orm_sqlite.Model):

    id = orm_sqlite.IntegerField(primary_key=True) # auto-increment
    task = orm_sqlite.StringField()
    interval = orm_sqlite.IntegerField()

In [3]:
db = orm_sqlite.Database('example.db')

In [4]:
Pomodoro.objects.backend = db

In [5]:
pomodoro = Pomodoro({'task': 'do something', 'interval': 25})
pomodoro.save()

1

In [6]:
pomodoro = Pomodoro({'task': 'do something', 'interval': 25})
Pomodoro.objects.add(pomodoro)

1

In [7]:
Pomodoro.objects.all()

[{'id': 1, 'task': 'do something', 'interval': 25},
 {'id': 2, 'task': 'do something', 'interval': 25}]

In [8]:
obj = Pomodoro.objects.get(pk=1)
obj['task'] = 'do something else'
obj.update()

1

In [9]:
obj = Pomodoro.objects.get(pk=1)
obj['task'] = 'do something else'
Pomodoro.objects.update(obj)

1

In [10]:
Pomodoro.objects.get(pk=1).delete()

1

In [11]:
# obj = Pomodoro.objects.get(pk=1)
# Pomodoro.objects.remove(obj)

In [12]:
Pomodoro.objects.backend.close()

In [13]:
%load_ext sql

In [14]:
%%sql
sqlite:///example.db

In [15]:
%%sql
SELECT * FROM Pomodoro

 * sqlite:///example.db
Done.

[(2, 'do something', 25)]